.nav-text {
  list-style-type: none;
  padding: 10px 5px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
.navbar__link {
  color: #a098ae;
  align-items: center;
  display: flex;
}
.navbar__link:hover {
  color: #f8b602;
}
.navbar__link.active {
  color: aliceblue;
}
.title {
  font-weight: 500;
  font-size: 14px;
}

.nav-text:has(a.active) {
  background-color: #f8b602;
  border-radius: 16px;
  color: aliceblue;
}

img {
  width: 8%;
  height: 8%;
  padding-right: 20px;
  padding-left: 20px;
  filter: opacity(0.5) drop-shadow(0 0 white);
}
ul {
  padding-inline-start: 10px;
}
